<div class="mat-title-large page-title">Question List</div>

<form>
  <div style="display: flex; flex-direction: column; gap: 10px">
    <mat-form-field>
      <mat-label>Course</mat-label>
      <mat-select name="course"  [(ngModel)]="course">
        @for (course of courses; track course.id) {
          <mat-option [value]="course">
            {{course.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Section:</mat-label>
        <input matInput 
            name="section"
            [(ngModel)]="section">
    </mat-form-field>

    <button mat-flat-button 
        color="primary"
        style="width: 10em" 
        (click)="search()">Search</button>
  </div>

  @if (questions.length > 0) {
    <table mat-table style="margin-top: 2em" [dataSource]="questions" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let question"> {{question.id}} </td>
      </ng-container>

      <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef> Text </th>
          <td mat-cell *matCellDef="let question"> {{question.text}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let question">
          <button mat-icon-button (click)="selectQuestion(question)">
              <mat-icon>edit</mat-icon>
          </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  }
</form>