.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  padding: 10px;
  background: #3f51b5;
  color: white;
  position: fixed;
  z-index: 2;
  display: flex; 
  flex-direction: row; 
  align-items: flex-start;
}

.toolbar button:last-child {
  margin-left: auto;
}

.sidenav-container {
  flex: 1 0 auto;
  margin-top: 80px;
}

.sidenav-content {
  margin: 10px;
}

.sidenav-list {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.sidenav-button {
  justify-content: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
}
 