<div class="mat-title-large page-title">Login</div>

<form>
  <div style="display: flex; flex-direction: column; gap: 10px">
    <mat-form-field class="w-100">
      <mat-label>Username:</mat-label>
      <input matInput 
          name="username"
          [(ngModel)]="username">
    </mat-form-field>

     <mat-form-field class="w-100">
        <mat-label>Password:</mat-label>
        <input matInput 
            type="password"
            name="password"
            [(ngModel)]="password">
    </mat-form-field>
    
    <button mat-flat-button 
      color="primary" 
      style="width: 10em"
      (click)="login()">Login</button>
  </div>
</form>