@use '@angular/material' as mat;
@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  )
));

html {
    @include mat.all-component-themes($theme);
    @include mat.typography-hierarchy($theme);
}

.page-title {
    text-align: center;
    padding: 20px;
}